.service {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;

  .map {
    width: 100%;
  }
  .heroBanner {
        padding: 4rem 0;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    @media screen and (max-width: 966px) {
        .heroBanner {
            padding: 2rem;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .exampleCarousel1 button:first-child {
    	background: url('https://cdn.dsmcdn.com/web/production/slick-arrow.svg') no-repeat
    	center;
    	transform: rotateZ(180deg);
    	outline: none;
    	border: none;
    	cursor: relative;
    	position: center;
    	left: -16px;
        width: 20px;
        height: 200px;
    }

    .exampleCarousel1 button:last-child {
    	background: url('https://cdn.dsmcdn.com/web/production/slick-arrow.svg') no-repeat
    		center;
    	outline: none;
    	border: none;
    	cursor: pointer;
    	position: relative;
    	right: -16px;
        width: 20px;
        height: 200px;
    }

    .exampleCarousel1 div:first-child {
    	text-align: center;
    }
}

