@import '../../../styles/colors';

.page-landing {
  font-style: normal;
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
  background-color: $primary-color;
  margin: -8px;

  header {
    text-align: center;

    & > .logo {
      height: 64px;
      margin: 55px;
    }

    & > .grid-menu-1 {
      cursor: pointer;

      & > .menu-item {
        cursor: pointer;

        & > .item-title {
          text-align: center;
          color: $white-default;
          cursor: pointer;
        }

        & > .icon {
          & svg,
          path,
          * {
            fill: $white-default;
            cursor: pointer;
            width: 100px;
          }
        }
      }
    }
  }

  article {
    width: 448px;    
    height: 448px;
    background-color: $white-default;
    border-radius: 248px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 24px;
    box-shadow:0 0 50px silver,0 0 150px silver;

    & > .logo-small-screen {
      display: none;
    }

    & > .title {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      color: $black-default;
      margin: 36px 0 10px;
    }

    & > .subtitle {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $black-default;
    }

    & > .email-text {
      color: $black-default;
    }

    & > .grid-menu {
      margin-top: 50px;
      margin-bottom: 50px;
      cursor: pointer;

      & > .menu-item {
        margin-top: 28px;
        margin-bottom: 28px;
        cursor: pointer;

        & > .item-title {
          font-size: 22px;
          font-weight: 500;
          line-height: 28px;
          text-align: center;
          color: $black-default;
          cursor: pointer;
        }

        & > .icon {
          & svg,
          path,
          * {
            fill: $black-default;
            cursor: pointer;
            width: 100px;
          }
        }
      }
    }
  }

  footer {
    height: 50px;

    & > ul {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 40px;
      text-align: center;
      list-style-type: none;
      padding: 0;

      li {
        display: inline-flex;

        & > a {
          padding: 18px;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.25px;
          opacity: 0.9;
          cursor: pointer;
          color: $white-default;
        }
      }
    }
  }

  @media (min-height: 1200px) {
    article {
      margin-top: 130px;
    }
  }

  @media (max-width: 599px) {
    & {
      background-color: $primary-color;
    }

    header {
      & > .logo {
        display: none;
      }

      & > .grid-menu-1 {
        cursor: pointer;
  
        & > .menu-item {
          cursor: pointer;
  
          & > .item-title {
            text-align: center;
            color: $white-default;
            cursor: pointer;
          }
  
          & > .icon {
            & svg,
            path,
            * {
              fill: $white-default;
              cursor: pointer;
              width: 100px;
            }
          }
        }
      }
    }

    article {
      width: 100%;
      margin-top: 0;
      background-color: $white-default;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      & > .logo-small-screen {
        height: 64px;
        display: initial;
        margin-top: 30px;
      }

      & > .title {
        color: $black-default;
      }

      & > .subtitle {
        color: $black-default;
      }

      & > .email-text {
        color: $black-default;
      }

      & > .grid-menu {
        margin-bottom: 110px;
        max-width: 343px;
        margin-right: auto;
        margin-left: auto;

        & > .menu-item {
          margin-bottom: 28px;

          & > .item-title {
            color: $black-default;
          }

          & > .icon {
            & svg,
            path,
            * {
              fill: $black-default;
            }
          }
        }
      }
    }
    article:hover {
    background-color:$white-default;
    transition:1s;

    & > .title {
    color: $black-default;
    }

    & > .subtitle {
    color: $black-default;
    }

    & > .email-text {
    color: $black-default;
    }

    & > .grid-menu {
    margin-bottom: 110px;
    max-width: 343px;
    margin-right: auto;
    margin-left: auto;

    & > .menu-item {
      margin-bottom: 28px;

      & > .item-title {
        color: $black-default;
      }

      & > .icon {
        & svg,
        path,
        * {
          fill: $black-default;
        }
      }
    }
    }

    }

    footer > ul {
      li {
        & > a {
          color: $black-default;
        }
      }
    }
  }
}

.page-landing:hover {background-color:#123;transition:1s;}
